*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  background-color: black;
}
nav{
  background: #3c3e42;
  height: 80px;
  width: 100%;
  position:fixed;
  top: 0;
  z-index: 5000;

}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


#gallery{
	color: red;
}







#main1{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.about{
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}

.about img{
  height:auto;
  width: 420px;
}
.about-text{
  width:550px;
}
.main{
  width:1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1{
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5{
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;

}
.about-text p{
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  transition: .4s;

}
button:hover{
  background:transparent;
  border:2px solid #f9004d;
  cursor: pointer;
}
.learn{
  color: red;
}


.username{
  color: orange;
}



@media screen and (max-width:600px) {
  #main1{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  .about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
  }

  .about img{
    height:auto;
    width: 220px;
  }
  .about-text{
    width:350px;
  }
  .main{
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-text h1{
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    margin-left: -165px;
  }

  .about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 5px;
    letter-spacing: 2px;
    margin-left: 1px;


  }
  .about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 12px;
    margin-bottom: 45px;
    margin-left: 1.5px;
    margin-top: -3px;
  }
  button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;

  }
  button:hover{
    background:transparent;
    border:2px solid #f9004d;
    cursor: pointer;
  }
  .learn{
    color: red;
  }


  .username{
    color: orange;
  }



}
